<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssvet.approval.mapper.EventMapper">
    <select id="getCompletedApprovalList" resultType="event">

        SELECT * FROM approval_event where create_date >= now()-interval #{days} day

        and status = 4

    </select>

    <select id="getCompletedApprovalListByDays" resultType="event">

        SELECT * FROM approval_event where create_date <![CDATA[<=]]> now()-interval #{days} day

        <!--and status = 4  只要在规定期限内的都删除，不管审批是否完成     -->

    </select>
</mapper>
